.d1{
    width: 60px;
    height: 20px;
    margin-left: 1100px;
    margin-top: -40px;
    color: rgb(255, 255, 255);
    font-family: "Gotham SSm";
    
}
.a1{   
    cursor: pointer;
    text-decoration: solid;
    text-transform: capitalize;
}

.d2{
    width: 80px;
    height: 20px;
    margin-left: 1170px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-family: "Gotham SSm";
    font-size: medium;
 }
 .a2{   
    cursor: pointer;
    text-underline-offset: 0px;
    text-decoration-color: #fcfcfc;
 }

 .bdy{
    margin:0px;
 }
 .body{
    max-width:100%;
    height:100%;
    background-image: url(accests/bg1.jpg);
   
 }

 .im{
    width: 70px;
    height: 50px;
   
 }
 .container {
    width: 100%;
    height: 100vh;
    
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 90%;
    max-width: 400px;
    color: #fcfcfc;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.card h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10%;
}

.card p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
}

.card .links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.card .links img:hover {
    background: #080808;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #080808;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}

.abg{
    background-image: url(accests/bg3.jpg);
    margin: 0%;
    width: fit-content;
}

.ol1{
    list-style: none;
    margin-left: 970px;
    margin-top: -34px;

}

.li2{
    display: inline;
    font-family: "Arial";
    margin-left: 40px;
    font-size: 15px;
    font-weight: 500;
    
}

.tds {
    color: #fcfcfc;
}
